container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
  03_createsu:
    command: "python manage.py createsu"
    leader_only: true
  04_pubmedparser:
    command: "python pubmed_parser/setup.py install"
    leader_only: true
  05_seeddatabaseprgs:
    command: "python seed_data/load_PRJ_data_18.py"
    leader_only: true
  06_seeddatabaselinks:
    command: "python seed_data/load_linktables.py"
    leader_only: true
