<!DOCTYPE html>
{% extends "CapApp/base.html"%}
  {%block body_block%}
    this is the grant page
    {% if grants %}
      <ol>
        {% for grant in grants %}
        <li>
          <h3>{{grant.project_title}}</h3>
        </li>
        <ul>
          <h4>Application id:</h4>
          {{grant.application_id}}
        </ul>
        <ul>
          <h4>PI Name:</h4>
          {{grant.pi_name}}
        </ul>
        <ul>
          <h4>Project terms:</h4>
          {{grant.project_terms }}
        </ul>
        <ul>
          <h4>Abstract:</h4>
          {{grant.abstract_text}}
        </ul>
        {% endfor %}
      </ol>

    {% endif %}
  {% endblock %}
  <!-- </body>
</html> -->
