<!DOCTYPE html>
{% extends "CapApp/base.html"%}
  {%block body_block%}
  <div class= "jumbotron">
    <h2>Publications summary</h2>
    <ul>
      <li>
        Title of Grant: {{focal.project_title}}
      </li>
      <li>
        Grant Principal Investigator: {{focal.pi_name}}
      </li>
      <li>
          Number of years of funding: {{focal.support_year}}
      </li>
      <li>
        Number of publications from grant: {{focal.number_of_papers}}
      </li>
      <li>
        Funding breakdown by year:
      </li>
    </ul>
  </div>


<div>
  <p>
    Resulting papers
  </p>
  {% if all_papers%}
  <ul>
    {% for paper in all_papers %}
    <li>
      <ul>
        <li>
          <h3>{{paper.title}}</h3>
        </li>
        <li>
          Authors: {{paper.authors}}
        </li>
        <!-- <li>
          Affiliation of first author: {{paper.affiliation}}
        </li> -->
        <li>
          Year: {{paper.year}}
        </li>
        <li>
          Journal: {{paper.journal}}
        </li>
        <li>
          Abstract: {{paper.abstract}}
        </li>
      </ul>
    </li>

    {%endfor%}
  </ul>
  {%endif%}
</div>



  {%endblock%}
